{% extends 'base.html' %}

{% block title %}お問い合わせ| HighCreate{%endblock%}

{% block content %}
        <div class="p-3 bg-center bg-top bg-white mx-auto relative xl:p-0 PageWrap__ContentContainer-kkdcvd-0 bSuUXH" id="site-content">
            <div class="Mantel__Container-sc-90mahe-0 fgaZYB">
                <div class=" px-3">
                    <div>
                        <div class="">
                            <header>
                                <h1 class=" font-sans text-charcoal tracking-wide uppercase text-center pb-2 font-black uppercase md:text-3xl text-3xl">
                                    お問い合わせ</h1>
                                <div class=" h-px bg-magenta mx-auto" style="width: 100px;">
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
                <div class=" text-lg leading-normal text-dark-grey-2 text-center font-sans font-light px-4 max-w-lg mx-auto mt-4 Mantel__ContentContainer-sc-90mahe-1 llKnNz">
                    <a href="mailto:info@highcreate.biz">info@highcreate.biz</a>に電子メールを送信してください。
                    <br>または、以下のフォームに記入してください。
                </div>
                <div class="max-w-xl mx-auto ">
                    <div>
                        <div id="hubspotForm">
                            <iframe id="hs-form-iframe-0" class="hs-form-iframe" scrolling="no" height="587" width="768" style="position: static; border: none; display: block; overflow: hidden; width: 768px; height: 587px;" src="/saved_resource/">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}