{% extends 'base.html' %} {% block title %}最新インベンド | HighCreate{%endblock%} {% block content %}
<div class="p-3 bg-center bg-top bg-white mx-auto relative xl:p-0 PageWrap__ContentContainer-kkdcvd-0 bSuUXH" id="site-content">
    <div class="Mantel__Container-sc-90mahe-0 ZEFeP">
        <div class=" px-3 ">
            <div>
                <div class="">
                    <header>
                        <h1 class=" font-sans text-charcoal tracking-wide uppercase text-center pb-2 font-black uppercase md:text-3xl text-3xl">2019年度見学会が開催されました。</h1>
                        <div class=" h-px bg-magenta mx-auto " style="width: 200px;"></div>
                    </header>
                </div>
            </div>
        </div>
        <div class=" text-lg leading-normal text-dark-grey-2 font-sans font-light px-4 max-w-lg mx-auto mt-4 Mantel__ContentContainer-sc-90mahe-1 llKnNz">
            <p>美味しい食事をしながら歓談焼肉、疲れを吹き飛ばすように、みんな楽しい笑い声が上がっていました。</p>
            <p></p>
        </div>
        {% for i in num %}
        <div class="mx-auto max-w-3xl pt-0 pb-7-2 lg:py-8-2">
            <div class="lg:items-center">
                <div class="Tout__ToutImage-sc-1t2r4oi-0 hmzMdC">
                    <a class="no-underline w-full">
                        <img src="../static/event/{{i}}.jpg" alt="corporation building image" class="block w-full">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}