{% extends 'officebase.html' %} {% block title %}社内通知 | HighCreate{% endblock %} {% block content %}
    <div class="p-3 bg-center bg-top bg-white mx-auto relative xl:p-0 PageWrap__ContentContainer-kkdcvd-0 dzVwN"
         id="site-content" ng-controller="ScrollController" data-ng-init="init('{{ jumpflag }}')">
        <div classnames="">
            <div class="Mantel__Container-sc-90mahe-0 loqmwV">
                <header>
                    <h1 class=" font-sans text-charcoal tracking-wide uppercase text-center pb-2 font-black uppercase md:text-3xl text-3xl">
                        社内通知</h1>
                    <div class=" h-px bg-magenta mx-auto" style="width: 100px;">
                    </div>
                </header>
            </div>

            <style>
                table {
                    border-collapse: collapse;
                }

                table, td, th {
                    border: 1px solid black;
                }
            </style>
            <div class="Technology__SectionContainer-sc-1uzfb71-0 dnLgNL">
                {#                action 内插入方法#}
                <form method="post" action="/内插入方法/">
                    <!-- {% csrf_token %} -->
                    <div class="form-group">
                        <label for="matuyaid">id</label>
                        <input type="text" class="form-control" readonly="readonly" name="userId"
                               placeholder={{ detail_info.userId }} value="{{ detail_info.userId }}">
                        <br/>
                        <label for="userdata">日期</label>
                        <input type="text" class="form-control" name="userData" placeholder="日期"
                               value="{{ detail_info.userData }}">
                        <br/>
                        <label for="usercategory">カテゴリ</label>
                        <input type="text" class="form-control" name="userCategory" placeholder="カテゴリ"
                               value="{{ detail_info.userCategory }}">
                        <br/>
                        <label for="usertitle">タイトル</label>
                        <input type="text" class="form-control" name="userTitle"
                               placeholder="タイトル" value="{{ detail_info.userTitle }}">
                        <br/>
                        <label for="usercontact">連絡先</label>
                        <input type="text" class="form-control" name="useraContact" placeholder="連絡先"
                               value="{{ detail_info.userContact }}">
                        <br/>
                        <label for="usertext">テキスト</label>
                        <input type="text" class="form-control" name="userText"
                               placeholder="テキスト" value="{{ detail_info.userTitle }}">
                    </div>
                    <button class="btn btn-primary">修正</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}