{% extends 'base.html' %} {% block title %}Home | HighCreate{%endblock%} {% block content %}
<div class="p-3 bg-center bg-top bg-white mx-auto relative xl:p-0 PageWrap__ContentContainer-kkdcvd-0 bSuUXH" id="site-content" ng-controller="ScrollController" data-ng-init="init('{{jumpflag}}')">
    <div class="HomePage__HomeContainer-sc-1fmmdj4-0 jfLNfI">
        <div class="HomePageMantel__MantelContainer-sc-1d3bg77-0 egWOGH">
            <hr class="fade-in-animation HomePageMantel__Line-sc-1d3bg77-1 gTpQrh">
            <h1 class="fall-in-delay HomePageMantel__Heading-sc-1d3bg77-2 ckOKLY">
                私達は少数精鋭の集団です。
            </h1>
            <h3 class="upper-in-delay HomePageMantel__SubHeading-sc-1d3bg77-3 hgiXQb">
                お客様の立場で最善のシステムを提供します。
            </h3>
            <div class="BracketContainer__Container-wnew2k-0 iGUAv">
                <div class="fade-in-animation BracketContainer__LeftBracket-wnew2k-1 gdWpDC"></div>
                <p class="fade-in-animation HomePageMantel__MantelP-sc-1d3bg77-4 eSobtK">
                    株式会社ハイクリエイトはお客様にシステム開発、受託請負開発を中心としたITサ－ビスを提供し続け、 努力、改善を惜しまず、 より強固な関係を築き上げ、さらなる発展を目指しております。 また、より価値あるサ－ビスを提供するため、弊社の技術や ノウハウだけでなく、 新しいテクノロジーを生み出す努力をし続けます。 現在、日本のIT社会では、革新的なイノベーションが繰り広げられており、 弊社は社会と共に成長し、グローバル社会で 活躍できる人の育成、 その企業であり続けることを目指し、一層の努力を惜しまず、邁進してまいります。
                </p>
                <div class="fade-in-animation BracketContainer__RightBracket-wnew2k-2 bHwsFq"></div>
            </div>
            <div ng-click="gotoBottom('main-content')">
                <div class=" flex justify-center mb-4 text-magenta fade-in-animation">
                    <a class="cursor-pointer">
                        <button class=" flex flex-col items-center cursor-pointer button-shadow border border-light-grey-2 px-7 py-3 hover:text-magenta text-charcoal"> 
                                <div class="JumpButton__ButtonText-sc-1d9s3wk-0 umMzv">
                                    もっと見る
                                </div> 
                                <div class="flex">
                                    <svg width="13" height="9" viewBox="0 0 13 9" xmlns="http://www.w3.org/2000/svg"> 
                                        <path d="M12.5.503l-6 5.459L.503.5.5 3.035l6 5.465 6-5.465z" class="fill-current" fill-rule="evenodd">
        
                                        </path> 
                                    </svg>
                                </div> 
                            </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="HomePage__ContentWithPageBgsContainer-sc-1fmmdj4-7 eueAQE">
            <div id="main-content" class="HomePage__MainContentContainer-sc-1fmmdj4-9 blvpsT">
                <h3 class="HomePage__SectionsHeading-sc-1fmmdj4-1 gLJAu">
                    ハイクリエイトは、社員一人ひとりの個性を尊重し、技術や経験、英知等を集結して
                    <br> 常にお客様のニーズに応えられる会社でありたい。
                </h3>
                <div scroll class="HomePage__SectionsContainer-sc-1fmmdj4-2 dSLjnW ">
                    <div class="font-sans lg:flex {$frame1$} opacity-0">
                        <div class="AnimatedHomeSection__AnimatedContainer-sc-1982tr7-0 kJyRpI">
                            <img class="{$leftenter1$} AnimatedHomeSection__ImgL-sc-1982tr7-2 fQiLzJ" src="../static/pic/group-1-left.png" alt="An image for theme purposes">
                            <img class="{$centerenter1$} relative z-20 " src="../static/pic/group-1-center.png" alt="An image for theme purposes">
                            <img class="{$rightenter1$} AnimatedHomeSection__ImgR-sc-1982tr7-3 jALXtP" src="../static/pic/group-1-right.png" alt="An image for theme purposes">
                        </div>
                        <div class="fade-in-word AnimatedHomeSection__SectionContent-sc-1982tr7-4 jzMqXb ">
                            <span style="font-size:0">
                                    </span>
                            <h1 class=" inline-block py-3 font-normal uppercase border-magenta border-t ">
                                会社情報
                            </h1>
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd">
                                会社名：株式会社ハイクリエイト
                                <span style="font-size:0"></span>
                                <br> 設立&nbsp;&nbsp;&nbsp;：2016年4月
                                <span style="font-size:0"></span>
                                <br> 代表&nbsp;&nbsp;&nbsp;：金城　浩
                                <span style="font-size:0"></span>
                                <br> 資本金：500万円
                                <span style="font-size:0"></span>
                                <br> 所在地：〒103-0026
                                <span style="font-size:0"></span>
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;東京都中央区日本橋兜町17-2
                                <span style="font-size:0"></span>
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兜町第六葉山ビル4F
                                <span style="font-size:0"></span>
                                <br> 連絡先：
                                <span style="font-size:0"></span>
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEL:03-4296-3547
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAX:03-4296-3547
                            </p>
                            <div class=" flex justify-center lg:block ">
                                <a class="no-underline" href="/Corporation">
                                    <button class=" flex items-baseline cursor-pointer button-shadow bg-white border border-light-grey-2 px-4 py-3 text-charcoal hover:text-magenta undefined "> 
                                                <div class=" mr-3 font-sans leading-none uppercase text-sm Button__ButtonText-v8oi7h-0 hZNMxU">
                                                    詳細内容
                                                </div>
                                                <svg width="15" height="12" viewBox="0 0 15 12" xmlns="http://www.w3.org/2000/svg"> 
                                                    <g class="fill-current" fill-rule="evenodd"> 
                                                        <path d="M.003 0l5.459 6L0 11.997 2.535 12 8 6 2.535 0z"></path> 
                                                        <path d="M7.003 0l5.459 6L7 11.997 9.535 12 15 6 9.535 0z"></path> 
                                                    </g> 
                                                </svg> 
                                            </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="HomePage__SectionsContainer-sc-1fmmdj4-2 dSLjnW ">
                    <div class="font-sans lg:flex lg:flex-row-reverse {$frame2$} opacity-0 ">
                        <div class="AnimatedHomeSection__AnimatedContainer-sc-1982tr7-0 kJyRpI">
                            <img class="{$leftenter2$} AnimatedHomeSection__ImgL-sc-1982tr7-2 fQiLzJ" src="../static/pic/group-2-left.png" alt="An image for theme purposes">
                            <img class="{$centerenter2$} relative z-20 " src="../static/pic/group-2-center.png" alt="An image for theme purposes">
                            <img class="{$rightenter2$} AnimatedHomeSection__ImgR-sc-1982tr7-3 jALXtP" src="../static/pic/group-2-right.png" alt="An image for theme purposes">
                        </div>
                        <div class="fade-in-word AnimatedHomeSection__SectionContent-sc-1982tr7-4 kRbUCd">
                            <span style="font-size:0"></span>
                            <h1 class=" inline-block py-3 font-normal uppercase border-magenta border-t ">
                                事業内容
                            </h1>
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd">
                                システムエンジニアリング：
                                <span style="font-size:0"></span>
                                <span class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-2">
                                            <br>真摯にお客様のニーズに向き合い、
                                            <br>システム開発の背景・目的をしっかり理解した上で、
                                            <br>個別の案件毎に 企画・設計・開発から、
                                            <br>運用・サポートまで、スキルの高い優秀な人材を
                                            <br>タイムリーにご提供いたします。
                                        </span>
                                <br>
                                <br> システム開発・保守・運用：
                                <span style="font-size:0"></span>
                                <span class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-2">
                                            <br> 当社では、経験豊富なシステムエンジニアが
                                            <br> お客様の業務プロセスを分析することで
                                            <br> 総合的な視点から最適なシステムの立案と
                                            <br> 問題解決の実現をサポートすることができます。
                                        </span>
                            </p>
                            <div class=" flex justify-center lg:block ">
                                <a class="no-underline" href="/Business">
                                    <button class=" flex items-baseline cursor-pointer button-shadow bg-white border border-light-grey-2 px-4 py-3 text-charcoal hover:text-magenta undefined "> 
                                                <div class=" mr-3 font-sans leading-none uppercase text-sm Button__ButtonText-v8oi7h-0 hZNMxU">
                                                    詳しくは
                                                </div>
                                                <svg width="15" height="12" viewBox="0 0 15 12" xmlns="http://www.w3.org/2000/svg"> 
                                                    <g class="fill-current" fill-rule="evenodd"> 
                                                        <path d="M.003 0l5.459 6L0 11.997 2.535 12 8 6 2.535 0z"></path> 
                                                        <path d="M7.003 0l5.459 6L7 11.997 9.535 12 15 6 9.535 0z"></path> 
                                                    </g> 
                                                </svg> 
                                            </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="HomePage__SectionsContainer-sc-1fmmdj4-2 dSLjnW">
                    <div class=" font-sans opacity-0 lg:flex {$frame3$}">
                        <div class="AnimatedHomeSection__AnimatedContainer-sc-1982tr7-0 kJyRpI">
                            <img class="{$leftenter3$} AnimatedHomeSection__ImgL-sc-1982tr7-2 fQiLzJ" src="../static/pic/group-3-left.png" alt="An image for theme purposes">
                            <img class="{$centerenter3$} relative z-20 " src="../static/pic/group-3-center.png" alt="An image for theme purposes">
                            <img class="{$rightenter3$} AnimatedHomeSection__ImgR-sc-1982tr7-3 jALXtP" src="../static/pic/group-3-right.png" alt="An image for theme purposes">
                        </div>
                        <div class="AnimatedHomeSection__SectionContent-sc-1982tr7-4 jzMqXb">
                            <span style="font-size:0"></span>
                            <h1 class=" inline-block py-3 font-normal uppercase border-magenta border-t ">
                                採用情報
                            </h1>
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd">
                                中途採用、新卒採用ともに随時行なっております。未経験者も積極的に採用しておりますので、お気軽にお問い合わせください。
                                <br>
                                <br>募集職種：
                                <br>・初級プログラマー ・プログラマー
                                <br>・システムエンジニア
                                <br>・組込み/制御系プログラマー/システムエンジニア
                                <br>・ネットワークエンジニア
                            </p>
                            <div class=" flex justify-center lg:block ">
                                <a class="no-underline" href="/Workwithus">
                                    <button class=" flex items-baseline cursor-pointer button-shadow bg-white border border-light-grey-2 px-4 py-3 text-charcoal hover:text-magenta undefined "> 
                                                <div class=" mr-3 font-sans leading-none uppercase text-sm Button__ButtonText-v8oi7h-0 hZNMxU">
                                                    詳しく見る
                                                </div>
                                                <svg width="15" height="12" viewBox="0 0 15 12" xmlns="http://www.w3.org/2000/svg"> 
                                                    <g class="fill-current" fill-rule="evenodd"> 
                                                        <path d="M.003 0l5.459 6L0 11.997 2.535 12 8 6 2.535 0z"></path> 
                                                        <path d="M7.003 0l5.459 6L7 11.997 9.535 12 15 6 9.535 0z"></path> 
                                                    </g> 
                                                </svg> 
                                            </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="HomePage__Line-sc-1fmmdj4-3 gqgLeE">
                <div class="HomePage__CardsContainer-sc-1fmmdj4-5 jIpIlw">
                    <h3 class="HomePage__SectionsHeadingWBg-sc-1fmmdj4-4 bWSkgN">
                        お客様のニーズを第一に考え、
                        <br> お客様にとって最適なサービスを提供します。
                    </h3>
                    <div class="HomePage__ImgCardsContainer-sc-1fmmdj4-6 iLOKBv">
                        <article class="ImageCard__ImageCardWrap-sc-1d0m9d9-0 XHXE">
                            <div class=" flex content-end h-full w-full px-3 lg:px-6 pb-4 lg:pb-8 ">
                                <div class=" flex items-start self-end text-base lg:text-lg uppercase leading-relaxed lg:leading-normal font-sans text-white ">
                                    <div class=" flex-no-shrink ">
                                        <svg width="15" height="12" viewBox="0 0 15 12" xmlns="http://www.w3.org/2000/svg"> 
                                                    <g class="fill-current" fill-rule="evenodd"> 
                                                        <path d="M.003 0l5.459 6L0 11.997 2.535 12 8 6 2.535 0z">
                                                        </path> 
                                                        <path d="M7.003 0l5.459 6L7 11.997 9.535 12 15 6 9.535 0z"></path> 
                                                    </g> 
                                                </svg>
                                    </div>
                                    <p class=" pl-2 ">
                                        <a class="text-white no-underline hover:underline" href="/Employee/">
                                                    社内イベント
                                                    <br>イベントに際して、会社への志望動機、仕事のやりがいなど、社員の本音を聞きました。
                                                    <br>
                                                    <br>
                                                    <br>
                                                </a>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="ImageCard__ImageCardWrap-sc-1d0m9d9-0 kUejmm">
                            <div class=" flex content-end h-full w-full px-3 lg:px-6 pb-4 lg:pb-8 ">
                                <div class=" flex items-start self-end text-base lg:text-lg uppercase leading-relaxed lg:leading-normal font-sans text-white ">
                                    <div class=" flex-no-shrink "><svg width="15" height="12" viewBox="0 0 15 12" xmlns="http://www.w3.org/2000/svg"> 
                                                <g class="fill-current" fill-rule="evenodd"> 
                                                    <path d="M.003 0l5.459 6L0 11.997 2.535 12 8 6 2.535 0z"></path> 
                                                    <path d="M7.003 0l5.459 6L7 11.997 9.535 12 15 6 9.535 0z"></path> 
                                                </g> 
                                            </svg>
                                    </div>
                                    <p class=" pl-2 ">
                                        <a class="text-white no-underline hover:underline" href="/Security">
                                                    個人情報保護方針
                                                    <br>弊社は、取り扱う全ての個人情報の保護について、社会的使命を十分に認識し、本人の権利の保護、個人情報に関する法規制等を遵守します
                                                </a>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="ImageCard__ImageCardWrap-sc-1d0m9d9-0 jgNySs">
                            <div class=" flex content-end h-full w-full px-3 lg:px-6 pb-4 lg:pb-8 ">
                                <div class=" flex items-start self-end text-base lg:text-lg uppercase leading-relaxed lg:leading-normal font-sans text-white ">
                                    <div class=" flex-no-shrink ">
                                        <svg width="15" height="12" viewBox="0 0 15 12" xmlns="http://www.w3.org/2000/svg"> 
                                                    <g class="fill-current" fill-rule="evenodd"> 
                                                        <path d="M.003 0l5.459 6L0 11.997 2.535 12 8 6 2.535 0z">
        
                                                        </path> 
                                                        <path d="M7.003 0l5.459 6L7 11.997 9.535 12 15 6 9.535 0z"></path> 
                                                    </g> 
                                                </svg>
                                    </div>
                                    <p class=" pl-2 ">
                                        <a class="text-white no-underline hover:underline" href="/Contactus">
                                                    問い合わせ
                                                    <br>お問い合わせいただきました内容は、弊社の掲げる個人情報保護方針に沿って管理し、お客様の同意なく第三者に開示・提供することはございません。 
                                                </a>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="lg:flex lg:justify-center">
                    <div class="BracketContainer__Container-wnew2k-0 iGUAv">
                        <div class="fade-in-animation BracketContainer__LeftBracket-wnew2k-1 gdWpDC"></div>
                        <div class=" mx-auto lg:py-1 lg:px-10 ">
                            <div ng-click="gotoBottom('map-content')">
                                <button class=" flex flex-col items-center cursor-pointer button-shadow border border-light-grey-2 px-7 py-3 hover:text-magenta text-charcoal"> 
                                            <div class="JumpButton__ButtonText-sc-1d9s3wk-0 umMzv">
                                                アクセス
                                            </div> 
                                            <div class="flex">
                                                <svg width="13" height="9" viewBox="0 0 13 9" xmlns="http://www.w3.org/2000/svg"> 
                                                    <path d="M12.5.503l-6 5.459L.503.5.5 3.035l6 5.465 6-5.465z" class="fill-current" fill-rule="evenodd">
                    
                                                    </path> 
                                                </svg>
                                            </div> 
                                        </button>
                            </div>
                        </div>
                        <div class="fade-in-animation BracketContainer__RightBracket-wnew2k-2 bHwsFq"></div>
                    </div>
                </div>
                <div id="map-content"></div>
            </div>
            <hr class="HomePage__Line-sc-1fmmdj4-3 gqgLeF">
            <div class="HomePage__SectionsHeadingWBg-sc-1fmmdj4-4 bWSkgM">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.9204364752295!2d139.77406201474608!3d35.678961037704816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188959a5ace31d%3A0x3176eec7de742461!2z44CSMTAzLTAwMjYg5p2x5Lqs6YO95Lit5aSu5Yy65pel5pys5qmL5YWc55S677yR77yX4oiS77yVIOWFnOeUuuesrOWFreiRieWxseODk-ODqzRG!5e0!3m2!1sja!2sjp!4v1564648154189!5m2!1sja!2sjp"
                    width="100%" height="350" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                <br>
            </div>
            <hr class="HomePage__Line-sc-1fmmdj4-3 gqgLeF">
            <div class="lg:flex lg:justify-center">
                <div class="BracketContainer__Container-wnew2k-0 iGUAv">
                    <div class="fade-in-animation BracketContainer__LeftBracket-wnew2k-1 gdWpDC"></div>
                    <div class=" mx-auto lg:py-1 lg:px-10 ">
                        <p></p>
                        <p class="text-center">〒103-0026
                            <br>東京都中央区日本橋兜町17-2
                            <br>兜町第六葉山ビル4F
                            <br>
                            <br>info@highcreate.biz
                            <br>TEL: 03-4296-3547
                            <br>FAX: 03-4296-3547
                        </p>
                    </div>
                    <div class="fade-in-animation BracketContainer__RightBracket-wnew2k-2 bHwsFq"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}