{% extends 'loginbase.html' %} {% block title %}ログイン | HighCreate{%endblock%} {% block content %}
<div class="p-3 bg-center bg-top bg-white mx-auto relative xl:p-0 PageWrap__ContentContainer-kkdcvd-0 dzVwL" id="site-content" ng-controller="ScrollController" data-ng-init="init('{{jumpflag}}')">
    <div classnames="">
        <div class="Mantel__Container-sc-90mahe-0 loqmwV">
            <header>
                <h1 class=" font-sans text-charcoal tracking-wide uppercase text-center pb-2 font-black uppercase md:text-3xl text-3xl">
                    ログイン</h1>
                <div class=" h-px bg-magenta mx-auto" style="width: 100px;">
                </div>
            </header>

        </div>
        <div class="Technology__SectionContainer-sc-1uzfb71-0 dnLgNL">

        </div>
    </div>
</div>
{% endblock %}