<!DOCTYPE html>

<html ng-app="myApp" lang="ja">
　
<head>
    　　　<!-- 見た目用にBootstrapを使う -->
    　　　
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    　　　<!-- AngularJS 1.7.8を公式サイトから引っ張ってくる -->
    　　　
    <script src="../../static/js/common/angular.js"></script>
    　　　<!-- ↓↓↓自分で作ったJavaScriptはここから↓↓↓ -->
    　　　
    <script src="../../static/js/app.js"></script>
    <title></title>
</head>

<body class="container">
<div ng-controller="AppController">
    <div>
        <form method="post" action="/delet/">
            <!-- {% csrf_token %} -->
            <div class="form-group">
                <label for="matuyaid">id</label>
                <input type="text" class="form-control" name="matuyaId" placeholder="id" ng-model="matuyaid">
            </div>
            <button class="btn btn-primary">登録</button>
        </form>
    </div>
    <hr>

    <div>
        <table style="color: green" border="2">
            <tr>
                <td>id</td>
            </tr>
            {% for inclubinfo in inclubinfos %}
                <tr>
                    <td>{{ inclubinfo.matuyaId }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <a href="/matuyaindex/">添加</a>
        <br/>
        <a href="/matuyadelet/">删除</a>
        <br/>
        <a href="/detail/">查看全部数据</a>
        <br/>
        <a href="/content/">查看全部数据并能编辑</a>
        <br/>
    </div>
</div>
</body>
</html>