{% extends 'base.html' %} {% block title %}個人情報保護 | HighCreate{%endblock%} {% block content %}
<div class="p-3 bg-center bg-top bg-white mx-auto relative xl:p-0 PageWrap__ContentContainer-kkdcvd-0 evwMVI" id="site-content">
    <div id="security" class="Mantel__Container-sc-90mahe-0 loqmwV">
        <div class=" px-3">
            <div>
                <div class="">
                    <header>
                        <h1 class=" font-sans text-charcoal tracking-wide uppercase text-center pb-2 font-black uppercase md:text-3xl text-3xl">
                            個人情報保護方針</h1>
                        <div class=" h-px bg-magenta mx-auto" style="width: 50px;">
                        </div>
                    </header>
                </div>
            </div>
        </div>
        <div class=" text-lg leading-normal text-dark-grey-2 font-sans font-light px-4 max-w-xl mx-auto mt-4 Mantel__ContentContainer-sc-90mahe-1 llKnNz">

            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                基本方針 ​
            </h2>
            <p>
                弊社は、個人情報保護の重要性に鑑みて、業務に従事する全ての者がその責任を認識し、個人情報保護に関する法律（個人情報保護法）その他の関連法令・ガイドラインを遵守して個人情報を適正に取り扱い、安全管理について適切な措置を講じます。 ​
            </p>

            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                1. 個人情報の取得 ​
            </h2>
            <p>
                弊社は、業務上必要な範囲内かつ、適法で公正な手段により個人情報を取得します。
            </p>
            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                2. 個人情報の利用目的
            </h2>
            <p>
                弊社は、取得した個人情報を、お客様ご本人の同意なく利用目的の範囲を超えて利用することはありません。当社が取得した個人情報は、以下の目的に利用します。
                <br>●サービスに関する営業上のご案内
                <br>●資料の発送および取扱いサービスに関する書類の送付
                <br>●サービスについてのサポートおよびアフターサービス
                <br>●寄せられた質問に対する回答
                <br>●サービスの品質向上・改善
            </p>
            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                3. 個人情報の安全管理措置
            </h2>
            <p>
                弊社は、取り扱う個人データの安全管理のため、安全管理に関する取扱規程等の整備および実施体制の整備等、十分なセキュリティ対策を講じるとともに、正確性・最新性を確保するために、必要かつ適切な措置を講じ、万が一、問題等が発生した場合は、速やかに適当な是正対策をします。
            </p>
            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                4. 個人情報の第三者への提供
            </h2>
            <p>
                弊社は、以下の場合を除き、ご本人の同意なく第三者に個人データを提供しません。
                <br>●法令に基づく場合
                <br>●弊社の業務遂行上必要な範囲内で、協力会社に個人情報を提供する必要がある場合 なお、その場合でも業務委託先に対し、提供した個人情報の適正な取り扱いを求めるとともに適切な管理をします。
                <br>●人の生命、身体又は財産の保護のために必要であって、お客様の同意を取ることが困難な場合
            </p>
            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                5. 弊社に対するお問い合わせ
            </h2>
            <p>
                弊社の個人情報の取扱いや、お客様の個人情報に関するご照会・ご相談は、お問い合わせください。なお、お客様の個人情報に関するご照会に際しては、ご本人であることを確認のうえで可能な限り速やかに対応させていただきます。
            </p>
        </div>
    </div>
</div>
{% endblock %}