{% extends 'base.html' %} {% block title %}採用情報| HighCreate{%endblock%} {% block content %}
<div class="p-3 bg-center bg-top bg-white mx-auto relative xl:p-0 PageWrap__ContentContainer-kkdcvd-0 mbtyP" id="site-content">
    <div id="workwithus" classnames="">
        <div class="Mantel__Container-sc-90mahe-0 loqmwU">
            <header>
                <h1 class=" font-sans text-charcoal tracking-wide uppercase text-center pb-2 font-black uppercase md:text-3xl text-3xl">
                    採用情報</h1>
                <div class=" h-px bg-magenta mx-auto" style="width: 100px;">
                </div>
            </header>
        </div>

        <div class="Technology__SectionContainer-sc-1uzfb71-0 dnLgNK">
            <div class="mt-7">
                <div class="SplitContent__Container-sc-1dexka-0 gkBTGN">
                    <div class="SplitContent__ImageSide-sc-1dexka-1 dOzwsD">
                    </div>
                    <div class="SplitContent__ContentSide-sc-1dexka-2 gxPRiy">
                        <div class="mb-2">
                            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                                募集要項
                            </h2>
                        </div>
                        <div class="mb-2">
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-4">
                                ・IT業界での経験のあるほうで、より実力をはっきしたいという意欲をお持ちの方
                                <span style="font-size:0"></span>
                                <br>・過去にIT業界での経験があり、再度チャレンジしたいという方
                                <span style="font-size:0"></span>
                                <br>・IT専門新卒の方
                                <span style="font-size:0"></span>
                                <br>・高スキルをお持ちで、案件をお探しの方（フリーランス希望の方）
                                <br>
                                <br>あなたにあったフィールドで活躍していただきます。
                                <span style="font-size:0"></span>
                                <br>図書費支援、資格取得支援などで、スキルアップのためのバックアップ体制は万全です。 </p>
                        </div>
                    </div>
                </div>
                <div class="SplitContent__Container-sc-1dexka-0 bUwQNj">
                    <div class="SplitContent__ImageSide-sc-1dexka-1 dOzwsR">
                    </div>
                    <div class="SplitContent__ContentSide-sc-1dexka-2 gxPRiy">
                        <div class="mb-2">
                            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                                募集職種
                            </h2>
                        </div>
                        <div class="mb-2">
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-4">
                                ・初級プログラマー
                                <br>・プログラマー
                                <br>・システムエンジニア
                                <br>・組込み/制御系プログラマー
                                <br>・組込み/制御系システムエンジニア
                                <br>・ネットワークエンジニア </p>
                        </div>
                        <div class="mb-2">
                            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                                募集形態
                            </h2>
                        </div>
                        <div class="mb-2">
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-4">
                                ・正社員
                                <br>・契約社員
                                <br>・個人事業主 （フリーランス）
                            </p>
                        </div>
                    </div>
                </div>
                <div class="SplitContent__Container-sc-1dexka-0 gkBTGN">
                    <div class="SplitContent__ImageSide-sc-1dexka-1 dOzwsS">
                    </div>
                    <div class="SplitContent__ContentSide-sc-1dexka-2 gxPRiy">
                        <div class="mb-2">
                            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                                給与
                            </h2>
                        </div>
                        <div class="mb-2">
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-4">
                                ・300万円～800万円（能力に応じて優遇）
                                <span style="font-size:0"></span>
                                <br>・昇給年1回 </p>
                        </div>
                        <div class="mb-2">
                            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                                勤務地
                            </h2>
                        </div>
                        <div class="mb-2">
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-4">
                                ・東京都、神奈川県、千葉県等
                            </p>
                        </div>
                        <div class="mb-2">
                            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                                勤務時間
                            </h2>
                        </div>
                        <div class="mb-2">
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-4">
                                ・9:00～18:00
                                <br>（※勤務先の規定に準じますので、多少異なることがあります。）
                            </p>
                        </div>
                    </div>
                </div>
                <div class="SplitContent__Container-sc-1dexka-0 bUwQNj">
                    <div class="SplitContent__ImageSide-sc-1dexka-1 dOzwsF">
                    </div>
                    <div class="SplitContent__ContentSide-sc-1dexka-2 gxPRiy">
                        <div class="mb-2">
                            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                                休日休暇
                            </h2>
                        </div>
                        <div class="mb-2">
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-4">
                                ・完全週休2日制（土日）
                                <br>・祝日・年末年始休暇（年間休日120日）</p>
                        </div>
                        <div class="mb-2">
                            <h2 class="font-sans font-bold text-xl lg:text-2xl text-charcoal">
                                福利厚生
                            </h2>
                        </div>
                        <div class="mb-2">
                            <p class="AnimatedHomeSection__SectionP-sc-1982tr7-1 gKwknd-4">
                                ・通勤手当
                                <br>・雇用保険
                                <br>・労災保険
                                <br>・健康保険
                                <br>・厚生年金保険
                                <br>・親睦会
                                <br>・社員旅行
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}